@font-face {
    font-family: 'myFont';
    src: url('https://git.gushao.club/https://raw.githubusercontent.com/juneover24/mmpi-Chinese/gh-pages/foot.ttf');
  }
  
  body {
    font-family: 'myFont', sans-serif;
  }
  
